:root {
    /* fonts */
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;

    /* txt-colors */
    --main-txt-color:#212121;
    --acent-txt-color:#2196f3;
    --secondary-txt-color:#757575;
    --black-txt-color: #000000;
    --white-txt-color: #ffffff;
    --transparent-txt-color: rgba(255, 255, 255, 0.6);

    /* bcg-colors */
    --white-bcg-color:#FFFFFF;
    --dark-bcg-color:#2F303A;
    --secondary-bcg-color: #F5F4FA;
    --hero-section-bcg-color: #C4C4C4;
    --linear-gradient: rgba(47, 48, 58, 0.4);
    --about-desc: rgba(47, 48, 58, 0.8);
    --footer-icon-bcg-color: rgba(255, 255, 255, 0.1);
    --backdrop-bcg: rgba(0, 0, 0, 0.2);
    --portfolio-overlay: rgba(33, 150, 243, 0.9);
    
    /* others */
    --hero-btn-hover-color: #188CE8; 
    --border-color: rgb(236, 236, 236);
    --form-border-color: rgba(33, 33, 33, 0.2);
    --secondary-border-color: #EEEEEE;
    --icon-color: #AFB1B8;
    --icon-color-white: #fff;

    /* card set */
    --items: 3;
    --indent: 30px;

    /* animation */
    --anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

    

    /* Reset */
h1,
h2,
h3,
h4,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
    color: inherit;
}

.visually-hiden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}


    /* Сітка flex-box */
    .card-set {
        display: flex;
        flex-wrap: wrap;
        margin-left: calc(-1 * var(--indent));
        margin-top: calc(-1 * var(--indent));
    }

    .card-set__item {
        flex-basis: calc(100% / var(--items) - var(--indent));
        margin-left: var(--indent);
        margin-top: var(--indent);
    }


    /* Common styles */

body {
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.03em;
    color: var(--main-txt-color);
    background-color: var(--white-bcg-color); 
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
} 

.section__title {
    margin-bottom: 50px;
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
}


.btn {
    display: flex;
    align-items: center;

    width: 200px;
    height: 50px;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: var(--white-txt-color);
    background-color: var(--acent-txt-color);
    border-radius: 4px;
    border: none; 
    cursor: pointer;   
}

/* Посилання на соц-мережі */
.socials {
    display: flex;
    justify-content: center;
}

.socials__item:not(:last-child) {
    margin-right: 10px;
}

.socials__item {
    width: 44px;
    height: 44px;
}

.socials__link {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

    border-radius: 50px;
}

.socials__icon {
    fill: currentColor;
}

/* Header */
.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 0.8;
    color: var(--acent-txt-color);
}

.logo__acent--black {
    color: #000000;
}

.header__logo {
    margin-right: 93px;
}

.header__container {
    display: flex;
    align-items: center;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__list {
    display: flex;
    align-items: center;
}

.header__item:not(:last-child) {
    margin-right: 50px;
}

.header__link {
    position: relative;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    color: var(--main-txt-color);

    transition: color var(--anim);
}

.header__link:hover,
.header__link:focus {
    color: var(--acent-txt-color);
}   

.header__link--current {
    color: var(--acent-txt-color);
}

.header__link--current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;

    transform: translateY( 1px);
    
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--acent-txt-color);
}

.header-contacts {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.header-contacts__item:not(:last-child) {
    margin-right: 30px;
}

.header-contact__link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    color: var(--secondary-txt-color);

    transition: color var(--anim);
}

.header-contact__link:hover,
.header-contact__link:focus {
    color: var(--acent-txt-color);
}

.header-contact__icon {
    margin-right: 10px;
    fill: currentColor;
}

.header {
    border-bottom: 1px solid var(--border-color);
}

.header-contacts__item,
.header__item {
    letter-spacing: 0.02em;
}

/* Hero section */
.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    height: 600px;

    background-color: var(--hero-section-bcg-color);
    background-image: linear-gradient(0deg, var(--linear-gradient), var(--linear-gradient)), url(../images/hero-bcg-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero__title {
    width: 696px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-txt-color);
}

.hero__btn {
    display: block;
    margin-left: auto;
    margin-right: auto;

    transition: background-color var(--anim);
}

.hero__btn:hover,
.hero__btn:focus {
    background-color: var(--hero-btn-hover-color);
    cursor: pointer;
}

/* Features section */
.features__list {
    display: flex;
}

.features__item {
    width: 270px;
}

.features__item:not(:last-child) {
    margin-right: 30px;
}

.features__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;

    background-color: var(--secondary-bcg-color);
    border-radius: 4px;
}

.features__subtitle {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;
}

.features__desc {
    font-size: 14px;
    line-height: 1.7;
    color: var(--secondary-txt-color);
}

/* About sections */
.about {
    padding-top: 0;
}

.about__item {
    position: relative;
}

.about__desc {
    position: absolute;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 70px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;

    color: var(--white-txt-color);
    background-color: var(--about-desc);
}

/* Team sections */
.team {
    background-color: var(--secondary-bcg-color);
}

.team__list {
    --items: 4;
}

.team__item {
    background-color: var(--white-bcg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__wrapper {
    padding: 30px 0;
}

.team__subtitle {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
}

.team__desc {
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 16px;

    color: var(--secondary-txt-color);
}

.socials__link--grey {   
    color: var(--icon-color);
    transition: color var(--anim), background-color var(--anim);
}
        
.socials__link--grey:hover,
.socials__link--grey:focus {
    color: var(--white-txt-color);
    background-color: var(--acent-txt-color);
}

/* clients-section */
.clients-list {
    display: flex;
    --items: 6;
} 

.clients-list__item {
    width: 170px;
    height: 92px;
}

.client-list__link {
    display: flex;
    width: 100%;
    height: 100%;
    
    align-items: center;
    justify-content: center;

    color: var(--icon-color);

    border: 1px solid var(--icon-color);
    border-radius: 4px;

    transition: color var(--anim);
}

.client-list__link:hover,
.client-list__link:focus {
    color: var(--acent-txt-color);
    border-color: var(--acent-txt-color);
}

.clients-list__icon {
    fill: currentColor;
}

/* footer */
.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--dark-bcg-color);
}

.footer__container {
    display: flex;
    align-items: baseline;
}



.footer__logo {
    display: block;
    margin-bottom: 20px;
}

.logo__acent--white {
    color: var(--white-txt-color);
}

.footer__address {
    display: flex;
    font-style: inherit;
    align-items: baseline;
}

.footer__item {
    font-size: 14px;
    line-height: 1.7;
}

.footer__item:not(:last-child) {
    margin-bottom: 9px;
}

.footer__address-link {
    color: var(--white-txt-color);
    transition: color var(--anim);
}

.footer__contact {
    color: var(--transparent-txt-color);
    transition: color var(--anim);
}

.footer__address-link:hover,
.footer__address-link:focus,
.footer__contact:hover,
.footer__contact:focus {
    color: var(--acent-txt-color);
}

.footer__socials-container {
    margin-left: 70px;
}

.footer__text {
    display: block;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;
    color: var(--white-txt-color);
}


.socials__link--white {
    color: var(--white-txt-color);
    background-color: var(--footer-icon-bcg-color);

    transition: background-color var(--anim);
}

.socials__link--white:hover,
.socials__link--white:focus {
    background-color: var(--acent-txt-color);
}

.footer__form-container {
    display: block;
    margin-left: 93px;
}

.footer__form {
    position: relative;
    display: flex;
}

.footer__form-field {
    margin-right: 12px;
    padding-left: 16px;
    padding-right: 16px;
    width: 358px;
    height: 50px;

    color: var(--white-txt-color);
    background-color: transparent;
    border: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    outline: transparent;
}

.footer__btn {
    padding-left: 29px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer__icon {
    position: absolute;
    top: 50%;
    right: 28px;
    transform: translateY(-50%);
    fill: var(--icon-color-white);
} 

/* Portfolio sections */
.portfolio-btns-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.btn-list-item:not(:last-child) {
    margin-right: 8px;
}

.portfolio-btn {
    padding: 6px 22px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    text-align: center;
    border: 0px;
    border-radius: 4px;

    transition: color var(--anim), background-color var(--anim), box-shadow var(--anim);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    color: var(--white-txt-color);
    background-color: var(--acent-txt-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    cursor: pointer;
}

.card-text {
    padding: 20px 24px;
    border-bottom: 1px solid var(--secondary-border-color);
    border-left: 1px solid var(--secondary-border-color);
    border-right: 1px solid var(--secondary-border-color);
}

.portfolio-title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.9;
    color: var(--secondary-txt-color);
}

.portfolio-link {
    display: block;

    transition: color var(--anim), background-color var(--anim), box-shadow var(--anim);
}

.portfolio-link:hover,
.portfolio-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.overlay-zone {
    position: relative;
    overflow: hidden;
}

.portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;

    transform: translateY(100%);
    transition: transform var(--anim);

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 63px 24px;
    
    background-color: var(--portfolio-overlay);
}

.portfolio-link:hover .portfolio-overlay,
.portfolio-link:focus .portfolio-overlay {
    transform: translateY(0);
}

.portfolio-desc {
    font-size: 18px;
    line-height: 1.5;
    color: var(--white-txt-color);    
}

/* modal */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: var(--backdrop-bcg);

    visibility: visible;
    opacity: 1;
    transition: opacity var(--anim), visibility var(--anim);
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;   
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.8);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    display: flex;
    flex-direction: column;
    padding: 40px;

    width: 528px;
    min-height: 581px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: var(--white-bcg-color);

    transition: transform var(--anim);
}

.modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    padding: 0;

    width: 30px;
    height: 30px;

    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--white-bcg-color);
    cursor: pointer;

    transition: color var(--anim);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    color: var(--acent-txt-color);
}

.close-icon {
    fill: currentColor;
}

.modal-title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.1;
}

.modal-form-group {
    position: relative;
    display: block;
    flex-direction: column;
}

.modal-form-field-title {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: var(--secondary-txt-color);
}

.modal-form-field {
    display: block;
    margin-bottom: 10px;
    padding-left: 42px;
    padding-right: 16px;
    width: 100%;
    height: 40px;
    border: none;
    border: 1px solid var(--form-border-color);
    border-radius: 4px;
    outline: transparent;

    transition: border-color var(--anim);
}

.modal-form-icon {
    position: absolute;
    bottom: 11px;
    left: 12px;

    fill: var(--main-txt-color);
    transition: fill var(--anim);
}

.modal-form-field:focus {
    border-color: var(--acent-txt-color);
}

.modal-form-field:focus + .modal-form-icon {
    fill: var(--acent-txt-color);
}

.modal-coment-field {
    padding: 12px 16px;
    margin-bottom: 20px;
    height: 120px;
    resize: none;
}

.modal-coment-field::placeholder {
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.01em;
    
    color: rgba(117, 117, 117, 0.5);
}


.form-checkbox {
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-bottom: 30px;
}

.form-checkbox-custom {
    display: inline-flex;
    margin-right: 8px;
    padding-top: 4px;
    padding-left: 3px;
    width: 16px;
    height: 15px;
    outline: 2px solid var(--main-txt-color);
    outline-offset: -2px;
    border-radius: 2px;
    cursor: pointer;

    transition: background-color var(--anim), outline-color var(--anim);
}

.checkbox-icon {
    fill: var(--icon-color-white);
}

.form-checkbox-input:checked + .form-checkbox-custom {
    background-color: var(--acent-txt-color);
    outline-color: var(--acent-txt-color);
}

.checkbox-agreement-text {
    font-size: 14px;
    line-height: 1.7;
    color: var(--secondary-txt-color);
    user-select: none;
}

.checkbox-agreement-link {
    text-decoration-line: underline;
    color: var(--acent-txt-color);
}

.modal-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 50px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;    
    letter-spacing: 0.06em;
    color: var(--white-txt-color);
    
    background-color: var(--acent-txt-color);
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;

    transition: background-color var(--anim);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: var(--hero-btn-hover-color)
}